@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jesus1554/Sass-basis@1.1/base.css");
/* line 6, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 769px) {
  /* line 6, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
  body {
    overflow-x: hidden;
  }
}

/* line 13, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.txt-center {
  text-align: center;
}

/* line 17, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.txt-justify {
  text-align: justify;
}

/* line 21, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.a-linter {
  color: #0791e6;
}

/* line 25, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.btn {
  cursor: pointer;
  border-radius: 2rem;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  transition: all .5s ease-out;
}

/* line 36, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.btn-a {
  background: #e4572e;
  background: linear-gradient(145deg, #e4572e 0%, #ffc914 100%);
}

/* line 41, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.btn-b {
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  transition: all 0.2s;
  border: 3px solid #17bebb;
  color: #fff;
  background-color: #17bebb;
}

/* line 33, C:/Users/jesus/prog/nutrilinea-redesign/scss/_vars.scss */
.btn-b:hover {
  color: #17bebb;
  background-color: transparent;
}

/* line 45, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.btn-b-2 {
  border: 3px solid #17bebb;
  color: #fff;
  background-color: #17bebb;
}

/* line 50, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.btn-b-2:hover {
  color: #fff;
  background-color: transparent;
}

/* line 56, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.btn-c {
  border: 3px solid #b2d476;
  color: #fff;
  background-color: #b2d476;
}

/* line 61, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.btn-c:hover {
  color: #fff;
  background-color: transparent;
}

/* line 67, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.btn-d {
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  transition: all 0.2s;
  border: 3px solid #F8333C;
  color: #fff;
  background-color: #F8333C;
}

/* line 33, C:/Users/jesus/prog/nutrilinea-redesign/scss/_vars.scss */
.btn-d:hover {
  color: #F8333C;
  background-color: transparent;
}

/* line 71, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* line 74, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.site-header h1 {
  font-size: 6rem;
  color: #17bebb;
}

/* line 85, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.h-100vh {
  text-align: center;
  margin-top: 1.5rem;
}

/* line 91, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.site-header:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-image: url("/img/wave-bottom.svg");
  height: 22rem;
}

/* line 100, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.flecha {
  font-size: 3rem;
}

/* line 101, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.flecha a {
  color: #17bebb;
}

/* line 108, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.flecha {
  animation: slide2 2.3s ease-in-out infinite;
}

@keyframes slide2 {
  0%,
  100% {
    transform: translate(0, 0) rotate(90deg);
  }
  50% {
    transform: translate(0, 10px) rotate(90deg);
  }
}

/* line 126, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.site-navigation {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dadce4;
  height: 12vh;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}

/* line 139, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.logo {
  padding: 1rem 2rem;
}

/* line 140, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.logo img {
  height: 6rem;
}

/* line 148, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.links {
  margin: 1rem 4rem 1.2rem 2rem;
}

/* line 151, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.links a {
  color: #000;
  text-decoration: none;
  margin: 1rem 2rem;
  padding: 2.4rem 1rem;
}

@media (max-width: 768px) {
  /* line 151, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
  .links a {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 3rem 5rem;
    border-top: 1px solid #cecece;
  }
  /* line 157, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
  .links a:first-child {
    border-top: none;
  }
  /* line 165, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
  .links a:hover {
    background-color: #cecece;
  }
}

@media (max-width: 768px) {
  /* line 148, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
  .links {
    margin: 0;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    transform: translateX(100%);
  }
}

/* line 186, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.burger {
  display: none;
}

/* line 188, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.burger div {
  width: 2.5rem;
  height: 2px;
  background-color: #000;
  margin: 5px;
}

/* line 197, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.underline {
  border-bottom: 3px solid #17bebb;
}

/* line 203, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
#nosotros {
  height: 155vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: #5dab56;
  position: relative;
}

/* line 211, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
#nosotros:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 155vh;
  background: #fff;
  z-index: 0;
  clip-path: polygon(100% 90%, 0 100%, 100% 100%);
}

/* line 224, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
#servicios {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* line 230, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.advice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAEDCA;
}

/* line 235, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.map-banner {
  height: 60vh;
  width: 100%;
  background-image: url("/img/bg-banner.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 246, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.mapa {
  height: 45vh;
  flex-basis: calc(62% - 3rem);
}

/* line 251, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.text-banner {
  flex-basis: calc(35% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 255, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.text-banner h4 {
  color: #fff;
  font-size: 5rem;
  margin: 0;
}

/* line 263, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.contacto-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #b2d476;
  background: linear-gradient(145deg, #b2d476 0%, #17bebb 100%);
  text-align: center;
}

/* line 271, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.site-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1e0935;
  padding: 1.2rem 0;
  color: white;
}

/* line 280, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.site-footer a {
  color: #fff;
}

/* line 285, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.img-bg-header {
  height: 70vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* line 294, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.hdr-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("/img/bg-3.jpg");
}

/* line 297, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.hdr-about h1 {
  color: #fff;
  font-size: 6rem;
}

/* line 304, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.auto-margin-top {
  margin-top: 7rem;
}

/* line 308, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.doctors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 3rem;
}

/* line 313, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.doctors a {
  color: #fff;
  padding: 1.5rem 2rem;
  background-color: #b2d476;
  border-radius: 2.4rem;
}

/* line 324, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.servic-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("/img/bg-2.jpg");
}

/* line 327, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.servic-header h1 {
  color: #fff;
  font-size: 6rem;
}

/* line 333, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.card-section {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(145deg, #F8333C 0%, #ffc914 100%);
}

/* line 340, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.other-section {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(145deg, #b2d476 0%, #17bebb 100%);
  text-align: center;
}

/* line 347, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.whatss-bookin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 349, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.whatss-bookin i {
  font-size: 5rem;
}

/* line 354, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.grid-contacto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  justify-items: center;
}

/* line 362, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.contacto {
  text-align: center;
  background-color: #e4572e;
  width: 100%;
  padding: 1rem 0.8rem;
  border-radius: 2.9rem;
  color: #fff;
}

/* line 369, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.contacto h4 {
  color: #fff;
  font-size: 3.4rem;
}

/* line 373, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.contacto a {
  color: #fff;
}

/* line 378, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.social-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 3.5rem;
}

/* line 385, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.smb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5dab56;
  height: 8.4rem;
  width: 8.4rem;
  font-size: 4rem;
  border-radius: 50%;
}

/* line 392, C:/Users/jesus/prog/nutrilinea-redesign/scss/main.scss */
.smb a {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */