@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jesus1554/Sass-basis@1.1/base.css");
body { font-family: 'Open Sans', sans-serif; }

.txt-center { text-align: center; }

.txt-justify { text-align: justify; }

.a-linter { color: #0791e6; }

.btn { cursor: pointer; border-radius: 2rem; padding: 1rem 2rem; color: #fff; text-decoration: none; font-weight: 700; text-transform: capitalize; transition: all .5s ease-out; }

.btn-a { background: #e4572e; background: linear-gradient(145deg, #e4572e 0%, #ffc914 100%); }

.btn-b { padding: 0.5rem 1rem; border-radius: 2.5rem; transition: all 0.2s; border: 3px solid #17bebb; color: #fff; background-color: #17bebb; }

.btn-b:hover { color: #17bebb; background-color: transparent; }

.btn-b-2 { border: 3px solid #17bebb; color: #fff; background-color: #17bebb; }

.btn-b-2:hover { color: #fff; background-color: transparent; }

.btn-c { border: 3px solid #b2d476; color: #fff; background-color: #b2d476; }

.btn-c:hover { color: #fff; background-color: transparent; }

.btn-d { padding: 0.5rem 1rem; border-radius: 2.5rem; transition: all 0.2s; border: 3px solid #F8333C; color: #fff; background-color: #F8333C; }

.btn-d:hover { color: #F8333C; background-color: transparent; }

.site-header { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; position: relative; overflow: hidden; width: 100%; }

.site-header h1 { font-size: 6rem; color: #17bebb; }

.h-100vh { text-align: center; margin-top: 1.5rem; }

.site-header:before { content: ''; position: absolute; bottom: 0; width: 100vw; background-image: url("/img/wave-bottom.svg"); height: 22rem; }

.flecha { font-size: 3rem; }

.flecha a { color: #17bebb; }

.flecha { animation: slide2 2.3s ease-in-out infinite; }

@keyframes slide2 { 0%, 100% { transform: translate(0, 0) rotate(90deg); }
  50% { transform: translate(0, 10px) rotate(90deg); } }

.site-navigation { position: sticky; top: 0; z-index: 2; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #dadce4; height: 12vh; background-color: #fff; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0; }

.logo { padding: 1rem 2rem; }

.logo img { height: 6rem; }

.links { margin: 1rem 4rem 1.2rem 2rem; }

.links a { color: #000; text-decoration: none; margin: 1rem 2rem; padding: 2.4rem 1rem; }

.underline { border-bottom: 3px solid #17bebb; }

#nosotros { height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; color: #fff; background-color: #5dab56; position: relative; }

#nosotros:before { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 100vh; background: #fff; z-index: 0; clip-path: polygon(100% 90%, 0 100%, 100% 100%); }

#servicios { height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; }

.advice { display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #FAEDCA; }

.map-banner { height: 60vh; width: 100%; background-image: url("/img/bg-banner.jpg"); background-position: center center; background-size: cover; display: flex; justify-content: center; align-items: center; }

.mapa { height: 45vh; flex-basis: calc(62% - 3rem); }

.text-banner { flex-basis: calc(35% - 1rem); display: flex; flex-direction: column; align-items: center; justify-content: center; }

.text-banner h4 { color: #fff; font-size: 5rem; margin: 0; }

.contacto-section { height: 80vh; display: flex; flex-direction: column; align-items: center; justify-content: center; background: #b2d476; background: linear-gradient(145deg, #b2d476 0%, #17bebb 100%); text-align: center; }

.site-footer { display: flex; flex-direction: row; align-items: center; justify-content: center; background-color: #1e0935; padding: 1.2rem 0; color: white; }

.site-footer a { color: #fff; }

.img-bg-header { height: 70vh; background-position: center center; background-size: cover; display: flex; justify-content: flex-start; align-items: center; }

.hdr-about { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("/img/bg-3.jpg"); }

.hdr-about h1 { color: #fff; font-size: 6rem; }

.auto-margin-top { margin-top: 7rem; }

.doctors { display: grid; grid-template-columns: repeat(2, 1fr); justify-items: center; margin-bottom: 3rem; }

.doctors a { color: #fff; padding: 1.5rem 2rem; background-color: #b2d476; border-radius: 2.4rem; }

.servic-header { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("/img/bg-2.jpg"); }

.servic-header h1 { color: #fff; font-size: 6rem; }

.card-section { height: 65vh; display: flex; flex-direction: column; align-items: center; justify-content: center; color: #fff; background: linear-gradient(145deg, #F8333C 0%, #ffc914 100%); }

.other-section { height: 65vh; display: flex; flex-direction: column; align-items: center; justify-content: center; color: #fff; background: linear-gradient(145deg, #b2d476 0%, #17bebb 100%); text-align: center; }

.whatss-bookin { display: flex; flex-direction: column; align-items: center; justify-content: center; }

.whatss-bookin i { font-size: 5rem; }
