@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
// @import "base";
@import url('https://cdn.jsdelivr.net/gh/jesus1554/Sass-basis@1.1/base.css');
@import "_vars.scss";

body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    cursor: pointer;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
    transition: all .5s ease-out;
}

.btn-a {
    background: rgb(228, 87, 46);
    background: linear-gradient(145deg, $naranja 0%, $amarillo 100%);
}

.btn-b {
    @include button-color($azul, true)
}

.btn-c {
    border: 3px solid $verde-claro;
    color: #fff;
    background-color: $verde-claro;

    &:hover {
        color: #fff;
        background-color: transparent;
    }
}

.btn-d {
    @include button-color($salsa, true)
}

.site-header {
    @include center(true);

    h1 {
        font-size: 6rem;
        color: $azul;
    }

    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.h-100vh {
    // @include center(true);
    text-align: center;
    margin-top: 1.5rem;
}

.site-header:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-image: url("/img/wave-bottom.svg");
    height: 22rem;
}

.flecha {
    a {
        color: $azul;
    }
    font-size: 3rem;
}

.flecha {
    animation: slide2 2.3s ease-in-out infinite;
}

@keyframes slide2 {

    0%,
    100% {
        transform: translate(0, 0) rotate(90deg);
    }

    50% {
        transform: translate(0, 10px) rotate(90deg);
    }
}


.site-navigation {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dadce4;
    height: 12vh;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #dadce0;
}

.logo {
    img {
        height: 6rem;
    }

    padding: 1rem 2rem;

}

.links {
    margin: 1rem 4rem 1.2rem 2rem;

    a {
        color: #000;
        text-decoration: none;
        margin: 1rem 2rem;
        padding: 2.4rem 1rem;
    }
}

.underline {
    border-bottom: 3px solid $azul;
}

#nosotros {
    height: 100vh;
    @include center(true);
    text-align: center;
    color: #fff;
    background-color: $verde-fuerte;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 0;
        clip-path: polygon(100% 90%, 0 100%, 100% 100%);
    }
}

#servicios {
    height: 100vh;
    @include center(true);
    text-align: center;
}

.advice {
    @include center(true);
    background-color: #FAEDCA;
}

.map-banner {
    height: 60vh;
    width: 100%;
    background-image: url("/img/bg-banner.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    height: 45vh;
    flex-basis: calc(62% - 3rem);
}

.text-banner {
    flex-basis: calc(35% - 1rem);
    @include center(true);

    h4 {
        color: #fff;
        font-size: 5rem;
        margin: 0;
    }

}

.contacto-section {
    height: 80vh;
    @include center(true);
    background: rgb(178, 212, 118);
    background: linear-gradient(145deg, rgba(178, 212, 118, 1) 0%, rgba(23, 190, 187, 1) 100%);
    text-align: center;
}

.site-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1e0935;
    padding: 1.2rem 0;
    color: white;

    a {
        color: #fff;
    }
}